/* DEFAULT SITE STYLE */

/* MULTIEVO FRAMEWORK V.0.0.1 */

.body {
}

/* TEXT STYLING */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  color: inherit;
}

body,
p,
a,
span,
i {
  font-family: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
a,
.lead,
p {
  margin: 0;
}

textarea {
  resize: none;
}

.text-right {
  text-align: right;
}

/* SECTIONS STYLING */
.header {
  width: 100%;
  margin: 0 auto;
  padding: 115px 0px 115px 0px;
  background-image: url("");
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: center;
  background-color: white;
}

.footerSmall {
  width: 100%;
  padding: 25px 25px 25px 25px;
  margin: 0 auto;
}

.footerMedium {
  width: 100%;
  padding: 50px 25px 50px 25px;
  margin: 0 auto;
}

.footerLarge {
  width: 100%;
  padding: 75px 25px 75px 25px;
  margin: 0 auto;
}

.sectionSmall {
  width: 100%;
  padding: 25px 25px 25px 25px;
  margin: 0 auto;
}

.sectionMedium {
  width: 100%;
  padding: 50px 25px 50px 25px;
  margin: 0 auto;
}

.sectionLarge {
  width: 100%;
  padding: 75px 25px 75px 25px;
  margin: 0 auto;
}

.bgWhite {
  background-color: white;
}

.bgLightGrey {
  background-color: #f8f8f8;
}

/* END MULTIEVO FRAMEWORK V.0.0.1 */

/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  color: #333;
}

/* Link colors */
a {
  color: #cc0000;
  text-decoration: none;
}

a:hover {
  color: #993333;
  text-decoration: none;
}

/* Button Color */
.btn {
  background-color: #cc0000;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #993333;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:disabled {
  background-color: #993333;
  color: white;
  border: none;
  cursor: default;
}

/* Margins */
.margin-bottom-sm {
  margin-bottom: .5em;
}

.margin-bottom-md {
  margin-bottom: 1em;
}

.margin-bottom-lg {
  margin-bottom: 2em;
}

.margin-top-sm {
  margin-top: .5em;
}

.margin-top-md {
  margin-top: 1em;
}

.margin-top-lg {
  margin-top: 2em;
}

.margin-right-sm {
  margin-right: .2em;
}

.margin-right-md {
  margin-right: .5em;
}

.margin-right-lg {
  margin-right: 1em;
}

.margin-left-sm {
  margin-left: .2em;
}

.margin-left-md {
  margin-left: .5em;
}

.margin-left-lg {
  margin-left: 1em;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav mods */
.navbar-custom {
  border-bottom: 5px solid #cc0000;
  margin-bottom: 2rem;
}

.navbar-custom .navbar-brand {
  color: white;
}

.navbar-custom .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
  color: white;
}

.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-custom .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-custom .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-custom .navbar-nav .show > .nav-link,
.navbar-custom .navbar-nav .active > .nav-link,
.navbar-custom .navbar-nav .nav-link.show,
.navbar-custom .navbar-nav .nav-link.active {
  color: white;
}

.navbar-custom .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-custom .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.bg-custom {
  background-color: #343a40 !important;
}

a.bg-custom:focus, a.bg-custom:hover {
  background-color: #1d2124 !important;
}

/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: normal;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-post-form {
  width: 80%;
}

/*
 * Cards
 */
 .card {
   margin: 5px;
 }

.card-block {
  padding: 20px;
  color: black;
  text-decoration: none;
}

/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
 * Pagination Style
 */
 #pagination .page-item:hover {
   cursor: pointer;
 }

 .page-item.active .page-link {
   background-color: #cc0000;
   border-color: #cc0000;
 }

 /*
  * About Page
  */
.social-media-img img {
  max-width: 50px;
}

.text-center {
  text-align: center;
}

@media (max-width: 48em) {
  .sidebar-module {
    text-align: center;
  }

  /* Home page */
  .blog-pagination {
    text-align: center;
  }

  /* Posts */
  /* Post list titles */
  .blog-post-title {
    font-size: 2.1em;
  }

}
