a.view-brewery-card {
  color: black;
  text-decoration: none;
}

a.view-brewery-card:hover {
  color: black;
  text-decoration: none;
}

#breweryImagePreviewDiv{
  height: 300px;
}

#breweryImagePreviewDiv img {
  max-height: 100%;
  max-width: 100%;
}

#breweryLogoHolder {
}

#breweryLogoHolder img {
  overflow: hidden;
  height: 250px;
  width: 250px;
}

#breweryRatingHolder img {
  overflow: hidden;
  height: 150px;
  width: 150px;
}

.breweryLogoList {
  overflow: hidden;
  height: 50px;
  width: 50px;
}

.breweryLogoSpacer {
  margin-left: 75px;
}

.brewery-visit-date h4 {
  font-size: 1.2em;
  color: #999;
}

.carousel-item img {
  display: block;
  overflow: hidden;
  width: auto;
  height: auto;
}

/* Brewery mobile optimizations */
@media (max-width: 48em) {

  /* Brewery titles */
  .brewery-title h1{
    font-size: 1.9em;
  }

  .brewery-visit-date h4 {
    font-size: 1em;
  }

  #imageCarousel {
    width: 95%;
  }



}
