<div class="blog-post">
  <h2 class="blog-post-title">{{blogTitle}}</h2>
  <p class="blog-post-meta">{{currentDate}} by <a href="#">{{blogAuthor}}</a> | 0 Views<br>
    In <a href="#">{{blogCategory}}</a>
  </p>

  <p><i>{{blogSummary}}</i></p>
  <hr>
  <p>{{{blogBody}}}</p>
</div>
